
.album__contain h2 {
  margin-top: 0;
  padding-bottom: 1em;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.album {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 1em;
  min-height: 59vh;
}
.album div {
  border: 1px solid #ccc;
  margin: 1em 0 1em 0;
  padding: 1em;
  width: 300px;
  height: 110px;
}
.album div:hover {
  border: 2px solid #eb1f1f;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .album__contain h2 {
    font-size: 1.5em;
    padding-top: 0;
  }
  .album {
    margin-top: 0;
  }

  .album div {
    width: 80vw;
    height: 80px;
  }

  .album__contain div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}