.home {
  width: 100vw;
}

.home h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1em;
  margin-top: 0;
  text-align: center;
}

.post {
  border: 1px solid red;
  margin: 1em;
  padding: 1em;
  width: 80%;
  margin-right: auto;
  border-radius: 20px;
}

.post h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1em;
  text-decoration: underline;
  text-decoration-color: #f1356d;
  text-decoration-thickness: 3px;
  text-underline-offset: 0.2em;
}

.post span {
  display: flex;
  justify-content: space-between;
}

.post span a {
  text-decoration: none;
  color: #f1356d;
  font-weight: 700;
}

.post span a:hover {
  color: #f1356d;
  text-decoration: underline;
  text-decoration-color: #f1356d;
  text-decoration-thickness: 3px;
  text-underline-offset: 0.2em;
}

.link__posts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 5em;
}



@media screen and (max-width: 768px) {
  .home {
    margin-top: 0;
    width: 100vw;
  }
  .home h1 {
    font-size: 2rem;
  }

  .post {
    width: 90%;
  }

  .link__posts {
    flex-direction: column;
  }

  select {
    margin-right: 0;
    margin-bottom: 1em;
    float: none;
    padding-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .home {
    margin-top: 0;
    width: 100vw;
  }
  .home h1 {
    font-size: 1.5rem;
  }
  .posts {
    width: 100vw;
  }

  .post h2 {
    font-size: 1.2rem;
  }

  .post {
    width: 80vw;
  }

  .link__posts {
    flex-direction: column;
    margin-bottom: 2em;
    background-color: #f1356d;
    height: 1em;
    font-size:  3em;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 0.5em;
    font-weight: 900;
  }

  select {
    margin-right: 0;
    margin-bottom: 1em;
    float: none;
    padding-right: 0;
  }
}
