.active {
    color: #eb1f1f;
    background-color: #fff;
}
.navBar__menu__list a {
    padding: 0.5em;
}
@media screen and (max-width: 768px) {
    .active {
        width: 100%;
        text-align: center;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .navbar__menu {
        flex-direction: column;
        align-items: center;
    }

    .navBar__menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .hide {
        display: none;
    }
    .navBar__menu__list a {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .navBar__menu__list a:hover {
        color: #eb1f1f;
    }
    .navBar__menu__list a:active {
        color: #eb1f1f;
    }
    .navBar__menu__list a:visited {
        color: #eb1f1f;
    }
    .navBar__menu__list a:link {
        color: #eb1f1f;
    }
    .navBar__menu__list a {
        text-decoration: none;
        font-size: 1.5em;
        font-weight: 700;
        color: #fff;
    }

    .navBar__menu__icon img {
        display: block;
        width: 3em;
        height: 3em;
        cursor: pointer;
        filter: invert(33%) sepia(94%) saturate(5921%) hue-rotate(351deg) brightness(95%) contrast(93%);
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navbar__logo {
        margin: 0;
    }
    .navbar__menu {
        flex-direction: row;
        align-items: center;
    }
    .navbar__menu {
        display: flex;
    }
    .fas {
        display: none;
    }
    .fa-times {
        display: none;
    }
    .fa-bars {
        display: none;
    }
    .navBar__menu__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .navBar__menu__list .hide {
        display: none;
    }

    .navBar__menu__list a {
        margin: 0 1em;
    }
    .navBar__menu__list a:hover {
        color: #eb1f1f;
    }
    .navBar__menu__list a:active {
        color: #eb1f1f;
    }
    .navBar__menu__list a:visited {
        color: #eb1f1f;
    }
    .navBar__menu__list a:link {
        color: #eb1f1f;
    }
    .navBar__menu__list a {
        text-decoration: none;
        font-size: 1.5em;
        font-weight: 700;
        color: #fff;
    }

    .navBar__menu__icon img {
        display: none;
    }

    .navBar__menu__icon {
        display: none;
    }

}