.posts {
    width: 100vw;
}

.posts h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
}

.posts a {
    text-decoration: none;
    color: #fff;
}

.posts .container {
    width: 95vw;
    border: 3px solid #ff0606;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 1em;
    margin-bottom: 1em;
    align-self: center;
    margin-left: 2.5vw;
}

.posts .container h2 {
    color: var(--color-reverse);
    text-align: center;
    margin-bottom: 1em;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.2em;
    text-decoration-color: #ff0606;
}

.posts .container p {
    color: var(--color-reverse);
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.2em;
}

@media screen and (max-width: 768px) {
    .posts .container {
        width: 90vw;
        margin-left: 5vw;
    }
    .posts {
        margin-top: 0;
    }
    .posts h1 {
        font-size: 1.5em;
    }
}